<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
     <!--Links Menu-->
     <link rel="stylesheet" href="/css/owl.carousel.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="fondo">


  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <header class="site-navbar site-navbar-target py-4" role="banner">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-3">
          <div class="site-logo">
            <a href="/catalogo" class="font-weight-bold text-black"><img src="/img/logo.png" width="250" height="60"></a>
          </div>
        </div>
        <div class="col-9  text-right">
          <span class="d-inline-block d-lg-block"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
          <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto ">
              <li><a href="/catalogo" class="nav-link">CATALOGO</a></li>
              <li class="active"><a href="/dashboard" class="nav-link">BITACORA</a></li>
              <li><a href="/profile" class="nav-link">PERFIL</a></li>
              <li><a href="/signup" class="nav-link">SALIR</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>


<br><br>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-9">
        <table class="table table-bordered table-hover table-white">
            <% for(var i = 0; i < products.length; i++){ %>
            <h1>Bitacora Numero: <%= products[i].Pedido %></h1>
          <thead>
            <tr>
              <th>Elaboro</th>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
              <tr>
              <td><%= products[i].Nombre%></td>
              <td><%= products[i].Cliente %></td>
              <td><%= products[i].Fecha %></td>

              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col-md-7">
          <table class="table table-bordered table-hover table-white">
              <% for(var i = 0; i < products.length; i++){ %>
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Talla</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                <td><%= tshirt[i].modelo%></td>
                <td><%= tshirt[i].descripcion %></td>
                <td><%= tshirt[i].talla %></td>
                <td><%= tshirt[i].cantidad %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
  </div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/main.js"></script>
</body>
</html>